html, body{
    height: 100%;
}
body{
    margin: 0 0;
    padding: 0 0;
    min-width: 1400px;
    overflow: hidden;
}
.active{
    color:#7b7f84 !important;
}
p{
    margin: 0 0;
    padding: 0 0;
}
.section{
    min-height: 1000px;
    background-image: url("../imgs/section1_bg.png");
}
.section_left{
   position: relative;
   float: left;
   margin-left: 10%;
   margin-right: 80px;
   padding-top: 5%;
}
.section_left>img{
    width: 478px;
    height: 507px;
}
.section_right{
   position: relative;
   padding-top: 10%;
}
.section_rightTop{
}
.section_rightTop>p{
    font-family:PingFangSC-Regular;
    font-size:48px;
    color:#ffffff;
    letter-spacing:5px;
    text-align:left;
}
.section_rightTop>p+p{
    margin-top: 38px;
    margin-left: 8px;
    font-family:PingFangSC-Semibold;
    font-size:16px;
    color:rgba(255,255,255,0.40);
    text-align:left;
}
.section_rightMid{
    margin-top: 26px;
}
.section_rightMid>p{
    font-family:PingFangSC-Semibold;
    font-size:18px;
    color:#ffffff;
    text-align:left;
}
.section_rightBottom{
    margin-top: 62px;
    margin-bottom: 216px;
}
.section_rightBottom>p{
    width: 80px;
    height: 80px;
    float: left;
    font-family:PingFangSC-Semibold;
    font-size:16px;
    color:#ffffff;
    text-align:center;
    line-height: 80px;
}
.section_rightBottom>p:first-child{
    margin-right: 30px;
    background-image: url("../imgs/round1.png");
}
.section_rightBottom>p+p{
    margin-right: 30px;
    margin-left: 30px;
    background-image: url("../imgs/round2.png");
}
.section_rightBottom>p+p+p{
    margin-right: 30px;
    margin-left: 30px;
    background-image: url("../imgs/round3.png");
}
.section_rightBottom>p:last-child{
    margin-left: 30px;
    background-image: url("../imgs/round4.png");
}
